upstream {{ item.value.name }} {
        {{ item.value.lb_method }};
	zone {{ item.value.name }} {{ item.value.zone_size }};

	server localhost:8081 weight={{ blue_weight|default("1") }};
	server localhost:8082;
	server localhost:8083;
	server localhost:8084;

{% if sticky_cookie is defined %}
	sticky cookie srv_id expires=1h  path=/;
{% endif %}
}
