{% if limit_req_zone is defined %}
{{ limit_req_zone }}
{% endif %}
{% if rate is defined %}
{{ rate }}
{% endif %}

server {
    listen       127.0.0.1:{{ item.value.port }};

    location / {
        root   /usr/share/nginx/{{ item.value.name }};
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
