server {
	listen {{ item.value.port }};
	ssl on;
	ssl_certificate       /etc/ssl/nginx/webservers/{{ item.value.name }}/{{ item.value.name }}.crt;
	ssl_certificate_key       /etc/ssl/nginx/webservers/{{ item.value.name }}/{{ item.value.name }}.crt;
	location / {
		proxy_pass https://{{ item.value.name }};
        	proxy_set_header Host $host;
        	proxy_set_header X-Real-IP $remote_addr;
        	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        	proxy_set_header X-Forwarded-Proto $scheme;
        	proxy_cache_bypass $cookie_nocache $arg_nocache $arg_comment;
        	proxy_cache_bypass $http_pragma $http_authorization;
        	proxy_no_cache $cookie_nocache $arg_nocache $arg_comment;
        	proxy_no_cache $http_pragma $http_authorization;
	}
}
include /etc/nginx/conf.d/{{ item.value.name }}.d/upstream.conf;
