server {
    listen       127.0.0.1:{{ item.value.port }};
    listen              127.0.0.1:{{ item.value.ssl_port }} ssl;
    server_name         {{ item.value.name }}.example1.com;

    location / {
        root   /usr/share/nginx/{{ item.value.name }};
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
    ssl on;
    ssl_certificate     /etc/ssl/nginx/webservers/{{ item.value.name }}/{{ item.value.name }}.crt;
    ssl_certificate_key     /etc/ssl/nginx/webservers/{{ item.value.name }}/{{ item.value.name }}.key;
}
